<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
<title>教学信息管理系统-登录页面</title>
</head>

<body>
 <div class="div1">
  <div class="div2">欢迎使用教务管理系统</div>
  <form action="http://127.0.0.1:8000/index/loginlogic/" method="post">
      {% csrf_token %}
   <table class="table1" cellspacing="10px">
    <tr>
     <td class="td1">用户名</td>
     <td class="td5">
      <input type="text" name="username"/>
     </td>
    </tr>
    <tr>
     <td class="td1">密码</td>
     <td class="td5">
      <input type="password" name="pwd" />
     </td>
    </tr>
    <tr>
     <td class="td1">用户角色</td>
     <td class="td5">
      <select name="authority">
       <option value="" disabled selected="selected" >请选择--</option>
       <option value="admin">管理员</option>
       <option value="teacher">教师</option>
       <option value="stu">学生</option>
      </select>
     </td>
    </tr>
    <tr>
     <td colspan="2" class="td2">忘记密码？</td>
    </tr>
    <tr>
     <td colspan="2" class="td3">
      <input class="button" type="submit" name="submit" value="登录"/>
     </td>
    </tr>
   </table>
  </form>
 </div>
</body>
</html>
