<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教师-首页</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage/teacher_homepage.css' %}" />
</head>

<body>
 <div class="div1">
  <header class="header1">
   <div class="div2">教务管理系统（教师端）</div>
   <select class="select">
    <option value="" selected="selected" disabled>当前用户：教师xxx</option>
    <option value="quit">注销</option>
   </select>
  </header>
  <main>
   <aside>
    <div class="menu">
    
     <li>
      <div class="btn">系统管理</div>
      <div class="smenu">
       <a href="{% url 'personal_inforapp:teacher_infor' %}">个人信息</a>
       <a href="{% url 'personal_inforapp:alterpwd_teacher' %}">修改密码</a>
      </div>
     </li>
     
     <li>
      <div class="btn">通知公告</div>
      <div class="smenu">
       <a href="{% url 'noticeapp:teacher_notice' %}">公告信息</a>
      </div>
     </li>
     
     <li>
      <div class="btn">任课课程</div>
      <div class="smenu">
       <a href="{% url 'classapp:teacher_class' %}">我的任课课程</a>
      </div>
     </li>
     
     <li>
      <div class="btn">考务安排</div>
      <div class="smenu">
       <a href="{% url 'examapp:teacher_classexam' %}">任课课程考试信息</a>
       <a href="{% url 'examapp:teacher_invigilate' %}">我的监考科目</a>
      </div>
     </li>
     
     <li>
      <div class="btn">成绩信息管理</div>
      <div class="smenu">
       <a href="{% url 'scoreapp:teacher_score' %}">学生成绩管理</a>
      </div>
     </li>
     
     <li>
      <div class="btn">教学评估信息</div>
      <div class="smenu">
       <a href="{% url 'teachapp:teacher_teach' %}">教学质量分析</a>
      </div>
     </li>
     
    </div>
   </aside>
   <article>
    <div>
     欢迎使用教务管理系统！
    </div>
   </article>
  </main>
 </div>
</body>
</html>
